<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Catalog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        /* Custom CSS styles */
        body {
            background-color: #f6fbf4;
        }

        .container {
            margin-top: 4rem;
        }

        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .card-title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .card-text {
            font-size: 1rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="display-4">Recipe Catalog</h1>
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.recipe.label }}</h5>
                            <p class="card-text">
                                <strong>Calories:</strong> {{ recipe.recipe.calories }} kcal<br>
                                <strong>Serving Size:</strong> {{ recipe.recipe.servingSize }} {{ recipe.recipe.servingUnit }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-x6S9vv6q6N2rP4fY5vdfBlWSENYSEfn0/x8gw8Qe8JkmaC8tpzXrsr3kWkfbm8O3" crossorigin="anonymous"></script>
</body>
</html>
